include sidebar.jade

mixin achievement-list(acs)
  each ac in acs
    h2
      a(href="#")= ac.title
    p
      | by
      a(href="index.php")= ac.author
    p
      span.glyphicon.glyphicon-time
      span= ac.timestamp.toLocaleDateString('zh-CN')
    hr
    img.img-responsive(src= ac.cover_img, alt= "cover of " + ac.title)
    hr
    div!= ac.rendered
    a.btn.btn-primary(href="#")
      | Read More
      span.glyphicon.glyphicon-chevron-right
    hr

extends layout

block content
  .container
    .row
      // Blog Entries Column
      .col-md-8
        +achievement-list(acs)
        // Pager
        ul.pager
          li.previous
            a(href="#") &#8592; Older
          li.next
            a(href="#") Newer &#8594;
      // Blog Sidebar Widgets Column
      .col-md-4
        +sidebar
    hr
