include sidebar.jade

extends layout

mixin logo(name)
  .item
    .ui.image.large
      img.logo(src= "images/logo/" + name)

block content
  .ui.container#content
    .ui.centered.huge.header 大数据技术与嵌入式系统实验室
    .ui.centered.huge.header 合作单位
      .ui.centered.horizontal.list
        +logo("3.jpg")
        +logo("631.jpg")
        +logo("ti.jpg")
        +logo("xilinx.jpg")
