include sidebar.jade

extends layout

block content
  .ui.text.container#content
    h1.ui.header
      a(href="#")= doc.title
    p= "by " + doc.author
    p
      span.glyphicon.glyphicon-time
      span= doc.timestamp.toLocaleDateString('zh-CN')
    hr
    div#doc
      != doc.rendered
    hr
    +sidebar(categories)
block extra-script
  script.
    var doc = $("#doc");
    doc.find("> h1").hide()
    var imgs = doc.find("img");
    _.forEach(imgs, function (img) {
      $(img).parent().addClass("ui centered huge image");
      var img_div = $("<p>" + $(img).attr("alt") + "</p>");
      img_div.insertAfter($(img));
    });
    _.forEach(doc.find("> p"), function (p) {
      if (!$(p).hasClass("bes doc img-block")) {
        $(p).addClass("bes doc text-block")
      }
    });
