include sidebar.jade

mixin doc-list(docs)
  each doc in docs
    h1
      a(href= base_url + doc.id)= doc.title
    p= "by " + doc.author
    p
      span.glyphicon.glyphicon-time
      span= doc.timestamp.toLocaleDateString('zh-CN')
    hr
    img.img-responsive(src= doc.cover_img, alt= "cover of " + doc.title)
    hr
    p!= doc.summary
    a.btn.btn-primary(href="#")
      | Read More
      span.glyphicon.glyphicon-chevron-right

extends layout

block content
  .container
    .row
      .col-md-8
        +doc-list(docs)
        if docs.length > 10
          ul.pager
            li.previous
              a(href="#") &#8592; Older
            li.next
              a(href="#") Newer &#8594;
      .col-md-4
        +sidebar(categories)
