include sidebar.jade

mixin doc-list(docs)
  .ui.segments
    each doc in docs
      .segment
        .small.image
          img(src= "/images/about/1-1.jpg", alt= "cover of " + doc.title)
        .content
          a.header(href= base_url + doc.id)= doc.title
          .meta
            i.fa.fa-user BESLab
            i.fa.fa-clock-o= doc.timestamp.toLocaleDateString('zh-CN')
          .description
            p!= doc.summary
            a.ui.blue.basic.button(href= doc.url)
              | Read More

extends layout

block content
  div#content
    .ui.main.container
      .ui.segment
        +doc-list(docs)
        if docs.length > 10
          ul.pager
            li.previous
              a(href="#") &#8592; Older
            li.next
              a(href="#") Newer &#8594;
        .ui.right.rail
          +sidebar
