mixin nav-item(literal, url)
  a.item(href= url)= literal

doctype html
html(lang="zh_cn")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title= title + " - 大数据技术与嵌入式系统实验室"
    link(href="/_fw/semantic/semantic.css", rel="stylesheet")
    link(href="/_fw/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="/_fw/angular/angular-csp.css", rel="stylesheet")
    link(href="/stylesheets/ng.css" rel="stylesheet")
  body
    .ui.inverted.fixed.menu#header
        a(href="/").item
          i.fa.fa-rocket BESLab
        +nav-item("首页", "/")
        +nav-item("概况", "/about")
        +nav-item("成果", "/achievement")
        +nav-item("新闻", "/news")
        +nav-item("合作", "/cooperate")
        +nav-item("团队", "/team")
        +nav-item("联系", "/contact")
    block content
    .ui.inverted.vertical.segment
      a.item(href='/') BESLab
      a.item(href='/contact') 联系我们
    script(src="/_fw/jquery/jquery.js")
    script(src="/_fw/underscore/underscore.js")
    script(src="/_fw/angular/angular.min.js")
    script(src="/_fw/semantic/semantic.js")
    script(src="/javascripts/ng.js")
    block extra-script
