mixin sidebar(categories)
    if categories
      .bes.sidebar
        .well
          h4 分类浏览
          .row
            ul.list-group
              each category in categories
                li.list-group-item
                  a(href="#" onclick="set_category(\"#{category}\")")= category
