include sidebar
extends layout

mixin info-block(member)
  .col-sm-12.col-md-6.col-lg-4
    .thumbnail
      img(src= member.img, alt= member.name)
      .caption
        h3= member.name
        p= member.details
        a.btn.btn-default(href='#', role='button') 联系我

mixin info-blocks(members)
  .row
    each member in members
      +info-block(member)
      +info-block(member)
      +info-block(member)
      +info-block(member)
      +info-block(member)

block content
  .container
    .row
      .col-md-8
        +info-blocks(members)
      .col-md-4
        +sidebar(categories)


