.bes.team.block img {
  height: 300px;
  width: inherit; }

.bes.nav .active {
  color: white; }

.bes.about {
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
  font-size: 17.5px; }
  .bes.about > img {
    max-width: 40%;
    display: block; }
  .bes.about .left-top {
    float: left; }
  .bes.about .right-bottom {
    float: right; }

.bes.coop .logo {
  width: 100%; }

.bes.cover.learn-more {
  background-color: transparent;
  border-width: 1px;
  border-color: white; }
  .bes.cover.learn-more:hover {
    background-color: white; }

.bes.doc.img-block {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bes.doc.img-block p {
    font-size: 80%; }

.bes.doc.text-block {
  text-indent: 2em; }
